
#chr1_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr2_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr3_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr4_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr5_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr6_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr7_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr8_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr9_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr10_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr11_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr12_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr13_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr14_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr15_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr16_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr17_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr18_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr19_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr20_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr21_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chr22_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chrX_chrom{
    margin-left:8px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}
#chrY_chrom{
    margin-left:10px;
    transform:scaleX(0.94);
    -webkit-transform:scaleX(0.94);  
    -moz-transform:scaleX(0.94);  
}